* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}

#root {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5px;
  font-size: large;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 50px;
  text-decoration: none;
  color: black;
  text-shadow: 0px 2px 5px #9c9c9c;
}

.main-block {
  display: flex;
  align-self: center;
  justify-content: center;
  height: 100%;
}

.main-block__button {
  font-family: "Dancing Script", cursive;
  font-size: 25px;
  box-shadow: 0px 0px 10px #7c7c7c;
  min-width: 300px;
  min-height: 100px;
  align-self: center;
  border-radius: 4px;
  border: 1.5px solid #d16ba5;
  background-size: 300%;
  transition: all 0.6s;
  /* font-size: medium; */
  font-weight: 800;
  color: black;
  text-shadow: 0px 2px 10px #636363;
  background-image: linear-gradient(90deg, #d16ba5d7 50%, #d4549d 50%);
}

.main-block__button:hover {
  color: #e5eaf5;
  text-shadow: 0px 2px 10px #a1a0a0;
  background-position: 100%;
  transform: translateX(0.5rem);
}

.main-block__button:active {
  transform: translate(0.5rem, 0.5rem);
  box-shadow: 0px 10px 20px -15px rgba(0, 0, 0, 0.75);
}

.main-block__loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 100%;
  border-right-color: #dd5ea6;
  border-top-color: #d16ba5d7;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
